<form action="/profile" method="POST">
    <label for="user">Firstname:</label>
    <input type="text" name="firstname" id="">
    <br>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="">
    <br>
    <label for="address">Address</label>
    <input type="text" name="address" id="">
    <br>
    <label for="phone">Phone number</label>
    <input type="text" name="phone" id="">
    <br>
    <label for="birth">Date Of Birth</label>
    <select name="birth" id="">
        <option value="Month">January</option>
        <option value="Month">February</option>
        <option value="Month">March</option>
        <option value="Month">April</option>
        <option value="Month">May</option>
        <option value="Month">June</option>
        <option value="Month">July</option>
        <option value="Month">August</option>
        <option value="Month">September</option>
        <option value="Month">October</option>
        <option value="Month">November</option>
        <option value="Month">December</option>
    </select>
    <br>
    <label for="sex">Gender</label><br>
    <input type="radio" name="sex" value="M"> Male <br>
    <input type="radio" name="sex" value="F"> Female <br>
    <input type="radio" name="sex" value="O"> Other <br>
    <button type="submit">Add Employee</button>
</form>