<!DOCTYPE html>
<html>
<form action="/home" method="POST">
    <img src="image.png" alt="Shoppers logo">

    <button type="button">Contact</button>
    <button type="button">Employee</button>
    <button type="button">Vendor</button>
    <button type="button">Customer</button>
    <button type="button">Clients</button>
    <button type="button">Item</button>
    <button type="button">Login</button>
    <button type="button">Discount</button>

    <button type="button">Transactions</button>
    <button type="button">Returns</button>
    <button type="button">Orders</button>
    <button type="button">Sale</button>
</form>
</html>
